.auth_page {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #b2e3f2;
  padding: 2rem 4rem !important;
}

.error_block {
  height: 20px;
  color: red;
  font-size: 15px;
}
